<!-- userRegistration.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Signup</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/userRegistration.css' %}">
</head>
<body>
    <div class="registration-form">
        <h2>User Registration</h2>
        <form method="post">
            {% csrf_token %}

            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}

            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}

            {{ form.full_name.label_tag }}
            {{ form.full_name }}
            {{ form.full_name.errors }}

            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}

            {{ form.country.label_tag }}
            {{ form.country }}
            {{ form.country.errors }}

            {{ form.mobile_number.label_tag }}
            {{ form.mobile_number }}
            {{ form.mobile_number.errors }}

            {{ form.identity_document.label_tag }}
            {{ form.identity_document }}
            {{ form.identity_document.errors }}

            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
